<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fitpass.libfitpass">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".FitpassAplicationActivity"
        android:allowBackup="true"
        android:largeHeap="true"
        android:theme="@style/Theme.Design.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config"
        android:preserveLegacyExternalStorage="true"
        android:requestLegacyExternalStorage="true">
        <activity
            android:name=".home.FitpassWebViewActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".workout.FitpassWorkOutActivity"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.FitpassDashboard"
            android:exported="false"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.FitpassWebViewActivityOld"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.FitpassDashboardOld"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scanqrcode.FitpassScanQrCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fitpasschallenge.FitpassChallengeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".scanqrcode.FitpassShowQrCodeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

<!--
        <meta-data
            android:name="com.webengage.sdk.android.environment"
            android:value="in" />
-->
    </application>

</manifest>